openapi: 3.1.0
info:
  title: The Pandit API
  version: 1.0.0-skeleton
  description: 'Public API contract for The Pandit — Panchang platform plus Pandit Services (Addendum A) and Pooja Items (Addendum
    B) marketplaces.


    Conventions: all instants are UTC ISO-8601; every Panchang interval also carries localOffsetMinutes and hoursFromSunrise
    (24-plus). Money is in minor units. Cursor pagination. Entitlement tier per operation is declared in x-entitlement and
    enforced at the gateway (403 + requiredTier). Money operations declare their rail in x-payment-rail; rails are never mixed.
    Clients never compute Panchang or prices.'
  contact:
    name: Aqualeo — The Pandit
servers:
- url: https://api.thepandit.app
  description: Production
- url: https://api.staging.thepandit.app
  description: Staging
security:
- bearerAuth: []
tags:
- name: Auth
- name: Users
- name: Panchang
- name: Calendar
- name: Festivals
- name: Vrats
- name: Muhurat
- name: Planner
- name: Notes
- name: Bookmarks
- name: Reminders
- name: Family
- name: Journal
- name: PrintCalendar
- name: Search
- name: AI
- name: Content
- name: Share
- name: Subscriptions
- name: Pandits
- name: Bookings
- name: Disputes
- name: Reviews
- name: Video
- name: Messaging
- name: Provider
- name: Shop
- name: Notifications
- name: Admin
- name: Webhooks
- name: Internal
paths:
  /v1/auth/oidc/{provider}:
    post:
      tags:
      - Auth
      summary: Exchange OIDC token
      operationId: exchange_oidc_token
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - apple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OidcExchange'
      security: []
  /v1/auth/otp/request:
    post:
      tags:
      - Auth
      summary: Request OTP
      operationId: request_otp
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpRequest'
      security: []
  /v1/auth/otp/verify:
    post:
      tags:
      - Auth
      summary: Verify OTP
      operationId: verify_otp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpVerify'
      security: []
  /v1/auth/guest:
    post:
      tags:
      - Auth
      summary: Create guest session
      operationId: create_guest_session
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security: []
  /v1/auth/refresh:
    post:
      tags:
      - Auth
      summary: Refresh token
      operationId: refresh_token
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      security: []
  /v1/me:
    get:
      tags:
      - Users
      summary: Get my profile
      operationId: get_my_profile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    patch:
      tags:
      - Users
      summary: Update my profile
      operationId: update_my_profile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
    delete:
      tags:
      - Users
      summary: Delete my account GDPR
      operationId: delete_my_account_gdpr
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/me/export:
    post:
      tags:
      - Users
      summary: Request data export GDPR
      operationId: request_data_export_gdpr
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/me/vault/birth-details:
    put:
      tags:
      - Users
      summary: Set my birth details Vault
      operationId: set_my_birth_details_vault
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BirthDetails'
    delete:
      tags:
      - Users
      summary: Delete my birth details
      operationId: delete_my_birth_details
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/me/locations:
    get:
      tags:
      - Users
      summary: List saved locations
      operationId: list_saved_locations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Users
      summary: Add saved location
      operationId: add_saved_location
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreate'
  /v1/me/locations/{locationId}:
    delete:
      tags:
      - Users
      summary: Remove saved location
      operationId: remove_saved_location
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
  /v1/me/devices:
    post:
      tags:
      - Users
      summary: Register push device token
      operationId: register_push_device_token
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceToken'
  /v1/me/notification-preferences:
    get:
      tags:
      - Users
      summary: Get notification preferences
      operationId: get_notification_preferences
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPrefs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
      - Users
      summary: Update notification preferences
      operationId: update_notification_preferences
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPrefs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPrefs'
  /v1/panchang/day:
    get:
      tags:
      - Panchang
      summary: Get Panchang for a day
      operationId: get_panchang_for_a_day
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanchangDay'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date
      - &id001
        name: lat
        in: query
        required: false
        schema:
          type: number
      - &id002
        name: lon
        in: query
        required: false
        schema:
          type: number
      - &id003
        name: tz
        in: query
        required: false
        schema:
          type: string
      - &id004
        name: ayanamsa
        in: query
        required: false
        schema:
          type: string
          enum:
          - lahiri
          - raman
          - kp
          - true_chitra
      - &id005
        name: scheme
        in: query
        required: false
        schema:
          type: string
          enum:
          - amanta
          - purnimanta
  /v1/panchang/range:
    get:
      tags:
      - Panchang
      summary: Get Panchang for a date range max 31 days
      operationId: get_panchang_for_a_date_range_max_31_days
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanchangDayList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/calendar/month:
    get:
      tags:
      - Calendar
      summary: Get assembled month view
      operationId: get_assembled_month_view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
      - name: month
        in: query
        required: false
        schema:
          type: integer
      - name: region
        in: query
        required: false
        schema:
          type: string
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/calendar/week:
    get:
      tags:
      - Calendar
      summary: Get assembled week view
      operationId: get_assembled_week_view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeekView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: start
        in: query
        required: false
        schema:
          type: string
          format: date
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/calendar/year:
    get:
      tags:
      - Calendar
      summary: Get year overview
      operationId: get_year_overview
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/calendar/bundle:
    get:
      tags:
      - Calendar
      summary: Get offline month bundle 12 to 15 months
      operationId: get_offline_month_bundle_12_to_15_months
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarBundle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: startMonth
        in: query
        required: false
        schema:
          type: string
      - name: months
        in: query
        required: false
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/calendar/highlights/today:
    get:
      tags:
      - Calendar
      summary: Todays highlights card
      operationId: todays_highlights_card
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighlightsCard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/festivals:
    get:
      tags:
      - Festivals
      summary: List festivals with next occurrence
      operationId: list_festivals_with_next_occurrence
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FestivalList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: region
        in: query
        required: false
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/festivals/{festivalId}:
    get:
      tags:
      - Festivals
      summary: Festival detail page
      operationId: festival_detail_page
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FestivalDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: festivalId
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/festivals/{festivalId}/occurrences:
    get:
      tags:
      - Festivals
      summary: Resolved occurrences for a festival
      operationId: resolved_occurrences_for_a_festival
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccurrenceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: festivalId
        in: path
        required: true
        schema:
          type: string
      - name: fromYear
        in: query
        required: false
        schema:
          type: integer
      - name: toYear
        in: query
        required: false
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/festivals/{festivalId}/samagri:
    get:
      tags:
      - Festivals
      summary: Puja samagri checklist
      operationId: puja_samagri_checklist
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamagriList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: gold
      parameters:
      - name: festivalId
        in: path
        required: true
        schema:
          type: string
      - name: region
        in: query
        required: false
        schema:
          type: string
  /v1/festivals/{festivalId}/preparation:
    get:
      tags:
      - Festivals
      summary: Preparation timeline
      operationId: preparation_timeline
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreparationTimeline'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: festivalId
        in: path
        required: true
        schema:
          type: string
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/vrats:
    get:
      tags:
      - Vrats
      summary: List trackable vrats
      operationId: list_trackable_vrats
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VratList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
  /v1/me/vrat-records:
    get:
      tags:
      - Vrats
      summary: My vrat records
      operationId: my_vrat_records
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VratRecordList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
    post:
      tags:
      - Vrats
      summary: Create vrat record
      operationId: create_vrat_record
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VratRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VratRecordCreate'
  /v1/me/vrat-records/{recordId}:
    patch:
      tags:
      - Vrats
      summary: Update vrat record status
      operationId: update_vrat_record_status
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VratRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VratRecordUpdate'
  /v1/muhurat/search:
    post:
      tags:
      - Muhurat
      summary: Find auspicious windows
      operationId: find_auspicious_windows
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuhuratResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuhuratQuery'
  /v1/muhurat/event-types:
    get:
      tags:
      - Muhurat
      summary: List event types
      operationId: list_event_types
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/planner/daily:
    get:
      tags:
      - Planner
      summary: Daily spiritual planner
      operationId: daily_spiritual_planner
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/planner/monthly:
    get:
      tags:
      - Planner
      summary: Monthly spiritual planner
      operationId: monthly_spiritual_planner
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: gold
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
      - name: month
        in: query
        required: false
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/planner/annual:
    get:
      tags:
      - Planner
      summary: Annual Hindu planner
      operationId: annual_hindu_planner
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnualPlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: gold
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/me/notes:
    get:
      tags:
      - Notes
      summary: List notes
      operationId: list_notes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Notes
      summary: Create note
      operationId: create_note
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteCreate'
  /v1/me/notes/{noteId}:
    patch:
      tags:
      - Notes
      summary: Update note
      operationId: update_note
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteCreate'
    delete:
      tags:
      - Notes
      summary: Delete note
      operationId: delete_note
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
  /v1/me/bookmarks:
    get:
      tags:
      - Bookmarks
      summary: List bookmarks
      operationId: list_bookmarks
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Bookmarks
      summary: Create bookmark
      operationId: create_bookmark
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bookmark'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookmarkCreate'
  /v1/me/bookmarks/{bookmarkId}:
    delete:
      tags:
      - Bookmarks
      summary: Delete bookmark
      operationId: delete_bookmark
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookmarkId
        in: path
        required: true
        schema:
          type: string
  /v1/me/reminders:
    get:
      tags:
      - Reminders
      summary: List reminders
      operationId: list_reminders
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Reminders
      summary: Create reminder Gregorian or Tithi recurrence
      operationId: create_reminder_gregorian_or_tithi_recurrence
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reminder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReminderCreate'
  /v1/me/reminders/{reminderId}:
    patch:
      tags:
      - Reminders
      summary: Update reminder
      operationId: update_reminder
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reminder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: reminderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReminderCreate'
    delete:
      tags:
      - Reminders
      summary: Delete reminder
      operationId: delete_reminder
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: reminderId
        in: path
        required: true
        schema:
          type: string
  /v1/me/reminders/{reminderId}/resolved:
    get:
      tags:
      - Reminders
      summary: Preview resolved fire times
      operationId: preview_resolved_fire_times
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireTimeList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: reminderId
        in: path
        required: true
        schema:
          type: string
      - name: months
        in: query
        required: false
        schema:
          type: integer
  /v1/me/family:
    get:
      tags:
      - Family
      summary: List family members
      operationId: list_family_members
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyMemberList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
    post:
      tags:
      - Family
      summary: Add family member
      operationId: add_family_member
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FamilyMemberCreate'
  /v1/me/family/{memberId}:
    patch:
      tags:
      - Family
      summary: Update family member
      operationId: update_family_member
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamilyMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: memberId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FamilyMemberCreate'
    delete:
      tags:
      - Family
      summary: Remove family member
      operationId: remove_family_member
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: memberId
        in: path
        required: true
        schema:
          type: string
  /v1/me/family/calendar:
    get:
      tags:
      - Family
      summary: Family calendar merged
      operationId: family_calendar_merged
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
      - name: month
        in: query
        required: false
        schema:
          type: integer
  /v1/me/journal:
    get:
      tags:
      - Journal
      summary: Sankalp journal entries
      operationId: sankalp_journal_entries
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: gold
    post:
      tags:
      - Journal
      summary: Create journal entry
      operationId: create_journal_entry
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: gold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalEntryCreate'
  /v1/me/japa:
    get:
      tags:
      - Journal
      summary: Japa tracker state
      operationId: japa_tracker_state
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JapaState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
    post:
      tags:
      - Journal
      summary: Record japa count
      operationId: record_japa_count
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JapaState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JapaIncrement'
  /v1/calendar-jobs:
    post:
      tags:
      - PrintCalendar
      summary: Request printable calendar generation
      operationId: request_printable_calendar_generation
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarJobCreate'
    get:
      tags:
      - PrintCalendar
      summary: List my calendar jobs
      operationId: list_my_calendar_jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/calendar-jobs/{jobId}:
    get:
      tags:
      - PrintCalendar
      summary: Get job status and signed URL
      operationId: get_job_status_and_signed_url
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
  /v1/calendar-templates:
    get:
      tags:
      - PrintCalendar
      summary: List calendar templates
      operationId: list_calendar_templates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/search:
    get:
      tags:
      - Search
      summary: Global search incl smart queries
      operationId: global_search_incl_smart_queries
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/ask:
    post:
      tags:
      - AI
      summary: Ask The Pandit grounded and disclaimered
      operationId: ask_the_pandit_grounded_and_disclaimered
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: gold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AskRequest'
  /v1/content/explain/{term}:
    get:
      tags:
      - Content
      summary: Explanation of a Panchang term
      operationId: explanation_of_a_panchang_term
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: term
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
  /v1/content/daily-card:
    get:
      tags:
      - Content
      summary: Daily dharma card
      operationId: daily_dharma_card
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DharmaCard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
  /v1/content/mantras:
    get:
      tags:
      - Content
      summary: List mantras
      operationId: list_mantras
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: deity
        in: query
        required: false
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
  /v1/share/day:
    post:
      tags:
      - Share
      summary: Render shareable day image
      operationId: render_shareable_day_image
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedUrl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRequest'
  /v1/export/ical:
    get:
      tags:
      - Share
      summary: Export reminders or festivals as iCal
      operationId: export_reminders_or_festivals_as_ical
      responses:
        '200':
          description: Ok
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      parameters:
      - name: scope
        in: query
        required: false
        schema:
          type: string
          enum:
          - festivals
          - reminders
          - family
  /v1/subscription:
    get:
      tags:
      - Subscriptions
      summary: Get my subscription and entitlements
      operationId: get_my_subscription_and_entitlements
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/subscription/receipts/apple:
    post:
      tags:
      - Subscriptions
      summary: Submit Apple IAP receipt
      operationId: submit_apple_iap_receipt
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: iap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptSubmit'
  /v1/subscription/receipts/google:
    post:
      tags:
      - Subscriptions
      summary: Submit Google Play purchase token
      operationId: submit_google_play_purchase_token
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: play
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptSubmit'
  /v1/subscription/checkout-session:
    post:
      tags:
      - Subscriptions
      summary: Create Stripe web checkout for subscription
      operationId: create_stripe_web_checkout_for_subscription
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: stripe_web
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanSelect'
  /v1/subscription/promo:
    post:
      tags:
      - Subscriptions
      summary: Apply promo code
      operationId: apply_promo_code
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoApply'
  /v1/pandits/search:
    get:
      tags:
      - Pandits
      summary: Search pandits explainable ranking
      operationId: search_pandits_explainable_ranking
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanditSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: serviceTypeId
        in: query
        required: false
        schema:
          type: string
      - name: lat
        in: query
        required: false
        schema:
          type: number
      - name: lon
        in: query
        required: false
        schema:
          type: number
      - name: mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - in_person
          - remote
          - both
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: language
        in: query
        required: false
        schema:
          type: string
      - name: tradition
        in: query
        required: false
        schema:
          type: string
      - name: priceMax
        in: query
        required: false
        schema:
          type: number
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - recommended
          - price
          - rating
          - distance
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/pandits/{panditId}:
    get:
      tags:
      - Pandits
      summary: Pandit public profile
      operationId: pandit_public_profile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanditProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: panditId
        in: path
        required: true
        schema:
          type: string
  /v1/pandits/{panditId}/availability:
    get:
      tags:
      - Pandits
      summary: Available slots
      operationId: available_slots
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: panditId
        in: path
        required: true
        schema:
          type: string
      - name: serviceId
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: tz
        in: query
        required: false
        schema:
          type: string
  /v1/pandits/{panditId}/reviews:
    get:
      tags:
      - Pandits
      summary: Public reviews
      operationId: public_reviews
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: panditId
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/service-types:
    get:
      tags:
      - Pandits
      summary: Service taxonomy linked to festivals and muhurat events
      operationId: service_taxonomy_linked_to_festivals_and_muhurat_events
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTypeList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: festivalId
        in: query
        required: false
        schema:
          type: string
      - name: muhuratEventType
        in: query
        required: false
        schema:
          type: string
  /v1/quotes:
    post:
      tags:
      - Bookings
      summary: Get itemised quote with policy snapshot
      operationId: get_itemised_quote_with_policy_snapshot
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
  /v1/bookings:
    post:
      tags:
      - Bookings
      summary: Create booking atomic slot plus PaymentIntent
      operationId: create_booking_atomic_slot_plus_paymentintent
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      x-payment-rail: stripe_connect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreate'
    get:
      tags:
      - Bookings
      summary: List my bookings
      operationId: list_my_bookings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: role
        in: query
        required: false
        schema:
          type: string
          enum:
          - patron
          - pandit
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/bookings/{bookingId}:
    get:
      tags:
      - Bookings
      summary: Get booking
      operationId: get_booking
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
  /v1/bookings/{bookingId}/events:
    get:
      tags:
      - Bookings
      summary: Booking event history
      operationId: booking_event_history
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingEventList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
  /v1/bookings/{bookingId}/accept:
    post:
      tags:
      - Bookings
      summary: Pandit accepts and captures payment
      operationId: pandit_accepts_and_captures_payment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: stripe_connect
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
  /v1/bookings/{bookingId}/decline:
    post:
      tags:
      - Bookings
      summary: Pandit declines and releases authorisation
      operationId: pandit_declines_and_releases_authorisation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: stripe_connect
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonBody'
  /v1/bookings/{bookingId}/reschedule:
    post:
      tags:
      - Bookings
      summary: Propose reschedule
      operationId: propose_reschedule
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescheduleProposal'
  /v1/bookings/{bookingId}/reschedule/respond:
    post:
      tags:
      - Bookings
      summary: Accept or reject reschedule
      operationId: accept_or_reject_reschedule
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescheduleResponse'
  /v1/bookings/{bookingId}/cancel:
    post:
      tags:
      - Bookings
      summary: Cancel with refund per policy snapshot
      operationId: cancel_with_refund_per_policy_snapshot
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: stripe_connect
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonBody'
  /v1/bookings/{bookingId}/check-in:
    post:
      tags:
      - Bookings
      summary: Check in at start of ceremony
      operationId: check_in_at_start_of_ceremony
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
  /v1/bookings/{bookingId}/complete:
    post:
      tags:
      - Bookings
      summary: Mark completed
      operationId: mark_completed
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
  /v1/bookings/{bookingId}/no-show:
    post:
      tags:
      - Bookings
      summary: Report no show
      operationId: report_no_show
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonBody'
  /v1/bookings/{bookingId}/address:
    get:
      tags:
      - Bookings
      summary: Ceremony address for pandit after paid confirmation
      operationId: ceremony_address_for_pandit_after_paid_confirmation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
  /v1/bookings/{bookingId}/dispute:
    post:
      tags:
      - Disputes
      summary: Open booking dispute freezes payout
      operationId: open_booking_dispute_freezes_payout
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeOpen'
  /v1/bookings/{bookingId}/review:
    post:
      tags:
      - Reviews
      summary: Submit review two way delayed reveal
      operationId: submit_review_two_way_delayed_reveal
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewCreate'
  /v1/bookings/{bookingId}/video/token:
    post:
      tags:
      - Video
      summary: Get video session join token
      operationId: get_video_session_join_token
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
  /v1/bookings/{bookingId}/video/consent:
    post:
      tags:
      - Video
      summary: Record recording consent
      operationId: record_recording_consent
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentBody'
  /v1/disputes/{disputeId}:
    get:
      tags:
      - Disputes
      summary: Get dispute
      operationId: get_dispute
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: disputeId
        in: path
        required: true
        schema:
          type: string
  /v1/disputes/{disputeId}/evidence:
    post:
      tags:
      - Disputes
      summary: Upload evidence
      operationId: upload_evidence
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: disputeId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceCreate'
  /v1/conversations:
    get:
      tags:
      - Messaging
      summary: List my conversations
      operationId: list_my_conversations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Messaging
      summary: Start pre booking enquiry rate limited
      operationId: start_pre_booking_enquiry_rate_limited
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-entitlement: silver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationCreate'
  /v1/conversations/{conversationId}/messages:
    get:
      tags:
      - Messaging
      summary: List messages
      operationId: list_messages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
    post:
      tags:
      - Messaging
      summary: Send message PII masked
      operationId: send_message_pii_masked
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreate'
  /v1/conversations/{conversationId}/report:
    post:
      tags:
      - Messaging
      summary: Report conversation
      operationId: report_conversation
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonBody'
  /v1/provider/apply:
    post:
      tags:
      - Provider
      summary: Apply as pandit or seller
      operationId: apply_as_pandit_or_seller
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderApplication'
  /v1/provider/me:
    get:
      tags:
      - Provider
      summary: My provider account
      operationId: my_provider_account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    patch:
      tags:
      - Provider
      summary: Update provider account
      operationId: update_provider_account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderUpdate'
  /v1/provider/onboarding/stripe-link:
    post:
      tags:
      - Provider
      summary: Create Stripe Connect onboarding link
      operationId: create_stripe_connect_onboarding_link
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/provider/verification/session:
    post:
      tags:
      - Provider
      summary: Start KYC session
      operationId: start_kyc_session
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/provider/verification:
    get:
      tags:
      - Provider
      summary: Verification status
      operationId: verification_status
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/provider/legal/accept:
    post:
      tags:
      - Provider
      summary: Accept provider agreement version
      operationId: accept_provider_agreement_version
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalAccept'
  /v1/provider/pandit/profile:
    get:
      tags:
      - Provider
      summary: My pandit profile
      operationId: my_pandit_profile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanditProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
      - Provider
      summary: Update pandit profile
      operationId: update_pandit_profile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanditProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanditProfileUpdate'
  /v1/provider/pandit/services:
    get:
      tags:
      - Provider
      summary: My services
      operationId: my_services
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanditServiceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Provider
      summary: Add service
      operationId: add_service
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanditService'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanditServiceCreate'
  /v1/provider/pandit/services/{serviceId}:
    patch:
      tags:
      - Provider
      summary: Update service
      operationId: update_service
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanditService'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanditServiceCreate'
    delete:
      tags:
      - Provider
      summary: Remove service
      operationId: remove_service
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
  /v1/provider/pandit/travel-policy:
    put:
      tags:
      - Provider
      summary: Set travel policy
      operationId: set_travel_policy
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelPolicy'
  /v1/provider/pandit/availability:
    get:
      tags:
      - Provider
      summary: Get availability
      operationId: get_availability
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
      - Provider
      summary: Set availability
      operationId: set_availability
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Availability'
  /v1/provider/pandit/blackouts:
    post:
      tags:
      - Provider
      summary: Add blackout dates
      operationId: add_blackout_dates
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Blackout'
  /v1/provider/bookings:
    get:
      tags:
      - Provider
      summary: Bookings for my services
      operationId: bookings_for_my_services
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/provider/payouts:
    get:
      tags:
      - Provider
      summary: My payouts
      operationId: my_payouts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/provider/payouts/request:
    post:
      tags:
      - Provider
      summary: Request on demand payout
      operationId: request_on_demand_payout
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: stripe_connect
  /v1/provider/statements:
    get:
      tags:
      - Provider
      summary: Earnings statements and tax documents
      operationId: earnings_statements_and_tax_documents
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: integer
  /v1/provider/standing:
    get:
      tags:
      - Provider
      summary: My standing score breakdown
      operationId: my_standing_score_breakdown
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/shop/collections:
    get:
      tags:
      - Shop
      summary: Collections Shopify Storefront proxy
      operationId: collections_shopify_storefront_proxy
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: festivalId
        in: query
        required: false
        schema:
          type: string
      - name: region
        in: query
        required: false
        schema:
          type: string
  /v1/shop/products:
    get:
      tags:
      - Shop
      summary: Products
      operationId: products
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: collectionId
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/shop/products/{handle}:
    get:
      tags:
      - Shop
      summary: Product detail
      operationId: product_detail
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: handle
        in: path
        required: true
        schema:
          type: string
  /v1/shop/cart:
    post:
      tags:
      - Shop
      summary: Create cart
      operationId: create_cart
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartCreate'
    get:
      tags:
      - Shop
      summary: Get cart
      operationId: get_cart
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: cartId
        in: query
        required: false
        schema:
          type: string
  /v1/shop/cart/lines:
    post:
      tags:
      - Shop
      summary: Add or update cart lines
      operationId: add_or_update_cart_lines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartLines'
  /v1/shop/cart/from-samagri:
    post:
      tags:
      - Shop
      summary: Build cart from samagri checklist
      operationId: build_cart_from_samagri_checklist
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamagriToCart'
  /v1/shop/checkout:
    post:
      tags:
      - Shop
      summary: Get Shopify hosted checkout URL
      operationId: get_shopify_hosted_checkout_url
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-payment-rail: shopify_checkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
  /v1/shop/orders:
    get:
      tags:
      - Shop
      summary: My orders
      operationId: my_orders
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/shop/orders/{orderId}:
    get:
      tags:
      - Shop
      summary: Order and fulfilment status
      operationId: order_and_fulfilment_status
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
  /v1/shop/orders/{orderId}/dispute:
    post:
      tags:
      - Disputes
      summary: Open goods dispute
      operationId: open_goods_dispute
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeOpen'
  /v1/provider/seller/orders:
    get:
      tags:
      - Provider
      summary: Seller orders
      operationId: seller_orders
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
  /v1/me/notifications:
    get:
      tags:
      - Notifications
      summary: In app notification feed
      operationId: in_app_notification_feed
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
[...]
